.ordered-item {
    text-align: left;
    width: 600px;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
}

.ordered-item img {
    width: 100px;
}

.ordered-item button {
    
    background-color: rgb(255, 141, 41);
    color: white;
    width: 80px;
    margin-left: auto;
}

.ordered-item h3 {
    margin: 10px 10px;
}

.ordered-item h5 {
    margin: 10px 10px;
}

.ordered-item .title {
    color: rgb(170, 94, 27);
}

span {
    color: rgb(206, 175, 0);
}