.products {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 50px;
}

.cart-container {
    background-color: lightsalmon;
}

.cart-container h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    text-align: center;
    margin: 28px 0px;
}

.order-details {
    margin-left: 23px;
}